:root{
            font-size: 20px;
        }

        body{
            padding: 60px;
            scroll-behavior: smooth;
            margin: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: floralwhite; /* für den Fall, dass das Bild nicht geladen werden kann */
            background-image: url(Pizza.jpg);
            background-attachment: fixed;
            background-size: cover;
        }

        .form-demo{
            background: linear-gradient(to right, rgba(0, 100, 0, 0.6), rgba(245, 245, 245, 0.4) 40%, rgba(245, 245, 245, 0.6) 60%, rgba(178, 34, 34, 0.4));
            box-shadow: 0 0 8px black;
            color: rgb(41, 41, 41);
            width: 80%;
            margin: 0 auto;
            min-height: 100vh;
            padding: 2rem;
            box-sizing: border-box;
        }

        .fieldset-demo {
            margin-bottom: 1em;
            color: rgb(255, 250, 240);
            width: 46%;
        }

        legend {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        .bg-transparent {
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.3rem 1rem;
            border-radius: 0.3rem;
        }

        .lbl-inp-container{
            margin-bottom: 0.5em;
        }

        label{
            display: inline-block;
            width: 8em;
        }

        .btn-submit{
            background-color: rgb(255, 250, 240);
            color: rgb(41, 41, 41);
            border-radius: 0.2rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            /*neu für Buttons rechts und gleiche Breite*/
            display: block;
            margin-left: auto; /*Erzwingt Ausrichtung am rechten Rand*/
            width: 230px;
            text-align: center;
            box-sizing: border-box;
        }

        .btn-submit:hover{
            cursor: pointer;
            background-color: rgb(215, 252, 184);
            color: rgb(255, 250, 240);
            border-color:rgb(115, 255, 0);
            text-shadow: 0 0 4px rgb(41, 41, 41);
        }
        .output {
            color:white;
            background: linear-gradient(to right, rgba(0, 100, 0, 0.6), rgba(245, 245, 245, 0.4) 40%, rgba(245, 245, 245, 0.6) 60%, rgba(178, 34, 34, 0.4));
            box-shadow: 0 0 8px black;
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
            box-sizing: border-box;
            height: auto;
            display: none;
        }

        /* Menüband oben am Bildschirm fixieren */
        .navbar {
            position:fixed;
            top:0;
            left:0;
            width: 100%;
            /* rgba: rot, grün, blau, transparenz */
            background-color: rgba(50, 50, 50, 0.95);
            /* box-shadow: 0 2px 5px rgba(0,0,0,0.5); */
            display:flex;
            justify-content: center;
            padding: 0.8rem 0;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 1.5rem;
            /* font-weight: bold;
            font-size: 0.9rem; */
        }
        .navbar a:hover {
            color:rgb(255, 113, 113)
        }
        .simple-section {
            width: 80%;
            margin: 0 auto;
            padding:  2rem;
            background: rgba(0,0,0,0.6);
            box-sizing: border-box;
        }
        .simple-section h2 {
            color: white;
            margin-top: 0;
        }
        .kontakt-form {
            color:white;
        }
        .kontakt-form input[type="text"],
        .kontakt-form input[type="email"],
        .kontakt-form textarea {
            display: inline-block;
            width: 200px;
            box-sizing: border-box;
            vertical-align: top;
            margin-left: auto;
        }

        /* Styling für Hamburger Menü und Seitenleiste */
        /* Hamburger-Symbol LINKS positionieren */
        .hamburger-symbol {
            color:white;
            font-size: 1.7rem;
            cursor: pointer;
            position: absolute;
            left: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            transition: color 0.3s;
            
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hamburger-symbol:hover {
            color: rgb(255, 113, 113)
        }

        /* Behälter für normalen nav-links, damit sie zentriert bleiben */
        .nav-links {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        /* Die versteckte Seitenleiste am linken Rand */
        .side-menu {
            position: fixed;
            top:0;
            left:-300px; /*Startet außerhalb des linken Bildschirms*/
            width: 280px;
            height: 100vh; /*Längliches Fenster bis ganz nach unten*/
            background-color: rgba(30, 30, 30);
            padding: 2rem;
            box-sizing: border-box;
            color: white;
            font-size: 0.9rem;
            z-index: 2000; /*Liegt über dem Inhalt der Seite, verschiebt nichts*/
            transition: left 0.4s ease; /*Erzeugt den weichen Reinschieb-Effekt von links*/
        }
        .close-btn {
            display: block;
            text-align: left;
            cursor: pointer;
            color: #aaa;
            margin-bottom: 0;
            font-size: 1.7rem;
            position: absolute;
            left: 1.5rem;
            top:14px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .close-btn:hover {
            color: rgb(211, 94, 94);
        }
        .side-menu h3 {
            margin-top: 50px;
        }
        .side-menu hr {
            border: 0;
            height: 1px;
            background-color: white;
            margin-bottom: 1.5rem;
        }
        .side-menu h4 {
            margin-bottom: 0.3rem;
            margin-top: 0;
        }
        .side-menu p {
            margin: 0 0 0.8rem 0;
            line-height: 1.4;
            font-size: 0.85rem;
        }
        .side-menu a.location-link {
            margin: 0;
            display: inline-block;
            padding-bottom:2px;
            margin-left:0;
            text-align: left;
            line-height: 1.4;
            font-size: 0.85rem;
        }

        #menu-toggle:checked ~ .side-menu {
            left:0;
        }

        /* Darkmode simulieren */
        /* iframe[src*="maps.google.com"],
        iframe[src*="google.com/maps"] {
             Invertiert alle Farben (aus Weiß wird Schwarz, etc.) 
            filter: invert(90%) hue-rotate(180deg) contrast(120%) brightness(110%);
        } */

